.topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #F4DCEA;
    border-bottom: 5px solid;
    border-bottom-color: #F9B7DB;
}

.logo {
    position: absolute;
    top: 2px;
    left: 5px;
}

.chibi {
    position: absolute;
    top: 2px;
    right: 5px;
}