.sidebar {
    position: fixed;
    top: 50px;
    left: 0px;
    background-color: rgb(246, 184, 220);
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
    z-index: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.menuBtn {
    position: relative;
    background-color: rgb(221, 137, 186);
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border-radius: 15px;
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn:hover {
    background-color: rgb(167, 102, 140);
}

.menuBtn:active {
    left: 0.5px;
    top: 0.5px;
}

.classBtn {
    position: relative;
    background-color: rgb(221, 137, 186);
    height: 40px;
    width: 30px;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.classBtn:hover {
    background-color: rgb(167, 102, 140);
}

.classBtn:active {
    left: 0.5px;
    top: 0.5px;
}

.classCont:hover>.classBtn {
    left: 75px;
    width: 180px;
}

.classBtnOpen {
    width: 180px;
    height: 45px;
}

.menuBtnOpen {
    width: 180px;
}

.menuOpen {
    width: 200px;
}

.selected div {
    color: black;
}

.subjectBtn {
    position: relative;
    background-color: rgb(218, 97, 168);
    height: 25px;
    width: 30px;
    margin-top: 10px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.subjectBtnOpen {
    width: 180px;
}

.subjectSelected {
    background-color: rgb(202, 21, 126);
    color: white;
}

#arrow{
    width: 20px;
}