.side-bar {
    position: fixed;
    top: 50px;
    left: 0px;
    background-color: black;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}