.chatbox {
    position: absolute;
    right: 10px;
    top: 65px;
    height: calc(70vw/1.77 + 90px);
    width: 23vw;
    background-color: rgb(240, 123, 191);
    border: 5px solid rgb(246, 184, 220);
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    text-align: left;
    color: white;
    font-size: 16px;
}

.messages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
}

textarea {
    height: 50px;
    outline: none;
    text-align: left;
}

#submitComment {
    height: 25px
}