.chatbox {
    position: absolute;
    padding: 10px;
    right: 10px;
    top: 65px;
    height: calc(70vw/1.77 + 90px);
    width: 23vw;
    background-color: rgb(240, 123, 191);
    border: 5px solid rgb(246, 184, 220);
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    text-align: left;
    color: white;
    font-size: 16px;
}

.messages {
    justify-content: space-between;
    padding: 5px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
}

.textInput {
    height: 50px;
    outline: none;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: rgb(218, 97, 168) 2px solid;
}

#submitComment {
    position: relative;
    height: 25px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(218, 97, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

#submitComment:hover {
    background-color: rgb(224, 78, 163);
}

#submitComment:active {
    left: 0.5px;
    top: 0.5px;
}

#titlebar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(255, 255, 255);
    color:rgb(224, 78, 163);
    padding: 5px 10px 5px;
}

#commentbar {

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(246, 184, 220);
    padding: 5px 10px 5px;
    font-size: small;
    color: rgb(0, 0, 0);
}