.videoplayer {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 5px solid rgb(246, 184, 220);
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: rgb(246, 184, 220);
}

iframe {
    width: 70vw;
    height: calc(70vw/1.77);
    left: 60px;
    top: 60px;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    margin-left: 5px;
    text-align: left;
}

#name {
    font-size: 30px;
}