.logo {
    position: fixed;
    top: 3px;
    left: 5px;
    z-index: 100;   
}

.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 1000;
    visibility: visible;
}

.hidden {
    visibility: hidden;
}